#eventsmap { 
	height: 500px; 
	margin-bottom: 15px;
}


.event-image{

	a: hover {
		decoration: none
	}

	img{
		width: 100%;
		vertical-align: unset;
	}
	
	.attribution {
		display: none;
	}

}


.container{
	.row{
		.chapter-card{
			padding-bottom: 15px;
		}
	}
}

.event-details {

	padding-left:2em;
	
	a: hover {
		decoration: none
	}
	
	.btn-volunteers{
		background-color: $primary;
		color: #fff;
	}
	
	.btn-charities{
		background-color: $secondary;
		color: #fff;
	}
	
	.btn {
		width: 100%;
		margin:10px;
	}
	
	.buttons {
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 12em;
	}
	
	.service-heading {
    margin: 0px 0px 15px 0px;
  }
	
}

