// Styling for the navbar
#mainNav {

  background-color: $white;
  border-bottom: solid 1px $gray-300;
  opacity: 0.95;
  min-height: 78px;

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
    img {
      width:228px;
      height:51px;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 700;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: lighten($secondary, 10%);
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;

    -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
    
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
          -webkit-transition: color 0.2s;
          -moz-transition: color 0.2s;
          transition: color 0.2s;
        }
      }
    }
    &.navbar-shrink {
      padding: 0;
      .navbar-brand {
        font-size: 1.25em;
      }
      .navbar-nav {
        .nav-item{
          .nav-link{
            color: lighten($secondary, 10%);
            padding: 0.7em 1em !important;
          }
        }
      }
    }
  }
  .body-transparentNav{
    .masthead{
      box-shadow: inset 0 60px 160px rgba(20,50,20,0.7);
    }
    #mainNav{
      border-color: transparent;
      background-color: transparent;
      .navbar-nav{
        .nav-item{
          .nav-link{
            color: #fff;
          }
        }
      }
      .alternate-logo{
        display: none;
      }
      .main-logo{
        display: inline-block;
      }

      &.navbar-shrink{
        background-color: $white;
        border-bottom: solid 1px $gray-300;
        opacity: 0.95;

        .navbar-nav{
          .nav-item{
            .nav-link{
              color: lighten($secondary, 10%);
            }
          }
        }
        .alternate-logo{
          display: inline-block;
        }
        .main-logo{
          display: none;
        }
      }
    }
  }
}
