// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f9f9f9 !default;
$gray-200: #f5f5f5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$bodytext: #224433 !default;

$primary: #66b360  !default;
$secondary: #007db1 !default;