---
title: Volunteer for a local GiveCamp
header: Volunteers
subheader: Volunteering for a local GiveCamp.
---
<div class="row">
    <div class="col-lg-12">
        <p>
            Local charities need your help. On a limited non-profit budget, charity organizations earmark their money for 
            keeping the lights on and the core business running, and not on nice-to-have technology improvements. For 
            organizations like a pet shelter, that means buying dog food and cat litter and not on hiring a new professional 
            website. So, often times those technology needs are met by hobbyists or charity staff that do not specialize in 
            technology. Donations are tracked in Microsoft Excel. The website was developed by a staff member or neighbor, and 
            though it is very appreciated by the non-profit organization, it lacks the polish of a professional touch.
        </p><br>
        <h3>GiveCamp means giving back</h3>
        <p>
            At GiveCamp, experts in technology, design, business, and marketing come together and partner with local charities 
            to create technology solutions for their cause. Talented professionals are given the opportunity to give back to 
            the charities that provide so much to the communities we all live in. Together, we create websites, brand 
            identities, marketing strategies, and custom software to improve the lives and efficiencies of local non-profits.
        </p><br>
        <h3>How does it work?</h3>
        <p>
            GiveCamp organizers identify local charities with a technology need: a refreshed logo, a new website, a custom 
            application to manage volunteers and monitor donations. The only limitation is that the project can be completed 
            by a small team in a single weekend. On GiveCamp weekend, volunteers are assigned to teams of 4-10 volunteers, 
            matching their team talents with the needs of their charity and their project. Team members work together--and 
            often work with other teams--to complete the weekend's charity projects, which we all celebrate and demo at the 
            end of the weekend during the event's closing ceremonies. We need the support of you and other professionals in 
            the community to community to complete the projects, and to satisfy the needs and dreams of our partner non-profits. 
            We want to make this the most successful GiveCamp to date, for anywhere, ever! But to do that, we need you to sign 
            up and to join the GiveCamp family. Food, drink, and facilities are provided throughout the weekend. This means that 
            we will provide all attendees with all of the meals, snacks, and fluids they can consume. Showers are available. We 
            are dedicated to providing anything you need to keep your talent and skills flowing and to keep pursuing the dreams 
            of every GiveCamp charity.
        </p><br>
        <h3>Who can volunteer?</h3>
        <p>
            Volunteers of all skill sets and skill levels are needed. Technologists are needed for programming custom 
            websites and software. Graphics designers are needed for creating the artistic designs and user experiences that 
            make a site attractive, usable, and intuitive. Business and marketing specialists are needed to help unravel the 
            maze of business, marketing, and social media to help promote the message and vision of each of our affiliated 
            non-profits. Non-technical volunteers are needed to make the logistics of GiveCamp happen.
        </p><br>
        <h3>We need:</h3>
        <ul>
            <li>Brand / Identity Management Specialists</li>
            <li>Business Analysts / Business Administration Specialists</li>
            <li>Database Administrators</li>
            <li>Graphics Designers / Artists</li>
            <li>Marketing Specialists</li>
            <li>Quality Analysts / Quality Testers</li>
            <li>Social Media Experts</li>
            <li>Software Architects</li>
            <li>Software Programmers</li>
            <li>User Interface / UX Designers, Developers, and Architects</li>
            <li>And Anyone Else!</li>
        </ul><br>
        <p>
            If you can provide a few hours of your time, or if you want to experience the thrill of being part of the industry 
            for a whole weekend, please sign up to be part of GiveCamp. <%= link_to 'Find an event near you', '/events' %>!
        </p>
    </div>
</div>
