---
title: About
header: About
subheader: The story behind GiveCamp.
---

<div class="row">
  <div class="col-lg-12">
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/chris-koenig-headshot.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2007</h4>
            <h4 class="subheading">Birth of an Idea</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Dallas, Texas - The coding-for-charity idea is hatched by Chris Koenig, Developer Evangelist for Microsoft, as a way to channel the raw energy of the software developers to benefit the local community. The concept would eventually be known as GiveCamp.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/we-are-microsoft-logo.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>January 2008</h4>
            <h4 class="subheading">Taking Shape</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Dallas, Texas - Dallas ASP.NET User Group leader Toi Wright organized and ran the first ever event, named &quot;We Are Microsoft Charity Challenge Weekend.&quot; The event served 18 charities with over 80 volunteers!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>April 2008</h4>
            <h4 class="subheading">The Idea Spreads</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Kansas City, Kansas - The second coding-for-charity event, &quot;Coders 4 Charities,&quot; is held in Kansas City. Twenty-five volunteers implemented projects for five non-profits.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img class="rounded-circle img-fluid" src="/img/about/michigan-theater-ann-arbor.png" alt="">
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>July 2008</h4>
            <h4 class="subheading">The Idea gets a Name</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Ann Arbor, Michigan - The first GiveCamp-titled event, Ann Arbor GiveCamp, is held at Washtenaw Community College in Ann Arbor, Michigan. The event, organized by Microsoft Developer Evangelist Jennifer Marsman, had served 15 charities through the help of over 90 volunteers, including remote locations in Columbus, Ohio and Knoxville, Tennessee.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>Be Part
            <br>Of Our
            <br>Story!</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
