---
title: Get Help as a Non-Profit
header: Get Help
subheader: Assistence for Non-Profits in need.
---
<div class="row">
    <div class="col-lg-12">
        <p>
            Does your non-profit need a new website? Time to escape those Excel spreadsheets and get a real donor 
            database? Trying to figure out how to build your social media presence? if so, then GiveCamp is for you!
        </p>
        <p>
            GiveCamp is a weekend-long event that brings together technology professionals committed to providing 
            your organization with solutions, strategies, and tools that can help you continue your good work … 
            hopefully even more effectively and efficiently than before.
        </p>
        <p>
            From designers, web developers and database administrators to marketers and web strategists, GiveCamp 
            assembles a team of experienced professionals – all you need to do is apply, tell us about your desired 
            project, and if your non-profit is selected, we’ll work with you to shape it into a project that can 
            be successfully completed during GiveCamp.
        </p>
        <p>
            There are GiveCamp events happening all over the US – you can see the events coming to a town near you 
            from our <%= link_to 'GiveCamp Event Page', '/events.html' %>.  We also maintain a listing of GiveCamp 
            websites for events that have already been scheduled.  Don’t miss this opportunity to check a project 
            off your technology wish list!  Just contact your local GiveCamp organization, or reach us <%= link_to 'directly', '/contact' %>.
        </p>
    </div>
</div>
