---
header: "Get Involved"
subheader: "Lorem ipsum dolor sit amet consectetur."
---

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h3 class=text-center><%= link_to 'Volunteers', '/get-involved-pages/volunteers.html' %></h3>   
        <p>
            Are you a social media expert? A software programmer? A graphics designer? A database administrator? Are you in marketing or business? 
            Local community charities need your help! 
        </p>   
        <div class="text-center">
            <a class="btn btn-primary btn-lg text-uppercase tell-me-more" href="/get-involved-pages/volunteers">Tell Me More</a>
        </div>    
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h3 class=text-center><%= link_to 'Organizers', '/get-involved-pages/organizers.html' %></h3>
        <p>
            So, you’re thinking about running a GiveCamp are you? Congratulations! You’re about to enter into a world of fun, excitement and terror 
            unique to organizing charity events in the developer community
        </p>   
        <div class="text-center">
            <a class="btn btn-primary btn-lg text-uppercase" href="/get-involved-pages/organizers">Tell Me More</a>  
        </div>
    </div>
    
    <div class="col-lg-12">
        <br><br>
        <h3 class=text-center><%= link_to 'Partners', '/get-involved-pages/partners.html' %></h3>              
        <p>
            GiveCamp is an immense project that needs support from companies and people like you to bring it together, and offers a 
            unique opportunity: where sponsorship for other technical conferences is about getting in front of conference attendees, 
            GiveCamp is an opportunity to get behind the developers and professionals in attendance, and helping them give back to the 
            community. Your sponsorship helps provide the food, drink, and facilities to fuel our events, allowing GiveCamp volunteers 
            to focus on their talent contributions.
        </p>       
        <div class="text-center">
            <a class="btn btn-primary btn-lg text-uppercase" href="/get-involved-pages/partners">Tell Me More</a>
        </div>
    </div>
</div>