<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Partners</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="entry_content">
          <p>
            We have been working with some amazing partners for past GiveCamp events that have offered their services
            for future GiveCamps. Here’s a listing of those partners that we’ve come to value so much!
          </p>
          <p>&nbsp;</p>
          <div id="partnersDiv">
            <p>
              <a href="http://microsoft.com" target="_blank"><img src="/img/national-partners/MSFT_logo_png.png" alt=""
                  width="175"></a><br>
              Founded in 1975, Microsoft (Nasdaq “MSFT”) is the worldwide leader in software, services and solutions
              that help people and businesses realize their full potential.<br>
              <strong>Contact:Chris Koenig (<a href="mailto:chris.koenig@microsoft.com">chris.koenig@microsoft.com</a>)&gt;</strong>
            </p>
            <p>
              <a href="http://sitefinity.com" target="_blank"><br>
                <img src="/img/national-partners/Telerik.gif" alt="" width="150" ></a><br>
              Telerik is a leading vendor of User Interface (UI) components for ASP.NET and Windows Forms, and .NET
              Reporting solutions. Building on our expertise in interface development and Microsoft technologies,
              Telerik helps customers build applications with unparalleled richness, responsiveness and interactivity.
              Created with passion, Telerik products help thousands of developers every day to be more productive and
              deliver reliable applications under budget and on time.Sitefinity CMS is a flexible ASP.NET-based content
              management platform that can be used for the construction and management of commercial websites,
              community portals, intranets, and personal blogs. Representatives from Telerik will be on-site to support
              any teams that want to use Sitefinity CMS.<br>
              <strong>Contact: Todd Anglin (<a href="mailto:todd.anglin@telerik.com">todd.anglin@telerik.com</a>)</strong>
            </p>
            <p>
              <a href="http://discountasp.net" target="_blank"><br>
                <img src="/img/national-partners/dasplogo_tagline.jpg" alt="" width="150" ></a><br>
              <a href="http://discountasp.net/" target="_blank">DiscountASP.NET</a>is a recognized global leader in
              advanced shared Microsoft Windows webhosting services. Through strong word-of-mouth and their commitment
              to ASP.NET technology and innovation, DiscountASP.NET has become the choice for affordable and
              feature-rich ASP.NET hosting and SQL hosting.The fine folks at DiscountASP.NET have offered FREE hosting
              accounts with SQL Server 2008 included to non-profits that participate in a GiveCamp event.<br>
              <strong>Contact: Takeshi Eto (<a href="mailto:Takeshi@discountasp.net">Takeshi@discountasp.net</a>)</strong>
            </p>
            <p>
              <a href="http://oreilly.com" target="_blank"><br>
                <img title="sm_ora_logo_plain" src="/img/national-partners/sm_ora_logo_plain1.gif" alt="" width="150"
                  ></a><br>
              O’Reilly Media spreads the knowledge of innovators through its books, online services, magazines,
              research, and conferences. Since 1978, O’Reilly has been a chronicler and catalyst of leading-edge
              development, homing in on the technology trends that really matter and galvanizing their adoption by
              amplifying “faint signals” from the alpha geeks who are creating the future. An active participant in the
              technology community, the company has a long history of advocacy, meme- making, and evangelism. We’re
              offering volunteers a free ebook of their choice from Microsoft Press or O’Reilly Media.<br>
              <strong>Contact: Jon Johns &amp; Marsee Henon (<a href="mailto:usergroups@oreilly.com">usergroups@oreilly.com</a>)</strong>
            </p>
            <p>
              <a href="http://www.code-magazine.com/" target="_blank"><br>
                <img title="CODE Magazine" src="/img/national-partners/CODEMagazine-300x108.png" alt="CoDe Magazine"
                  width="150" ></a><br>
              CODE Magazine is the Leading Independent .NET Magazine for .NET Developers. Each issue of CODE Magazine
              contains detailed and practical explanations of Visual Studio as well as other related Microsoft
              technologies. Written by independent authors who develop with the tools they write about, CODE Magazine
              is the trusted source of information for programmers working to improve their knowledge.Each developer
              that participates on a development team at a GiveCamp event will receive a FREE 1 -year subscription to
              CODE Magazine!<br>
              <strong>Contact: Tammy Ferguson (<a href="mailto:tammy@code-magazine.com">tammy@code-magazine.com</a>)</strong>
            </p>
            <p>
              <a href="http://verio.com" target="_blank"><br>
                <img title="Verio" src="/img/national-partners/Verio.gif" alt="Verio" width="150" ></a><br>
              There is no substitute for the right foundation. Designed for the Microsoft .NET framework, new Verio Web
              Servers for Windows are exactly what you’d expect from a hosting pioneer with nearly 500,000 business
              customers and a winner of Microsoft’s 2006 Advanced Hosting Infrastructure Award.<br>
              <strong>Contact: Matt Lagrotte (<a href="mailto:mlagrotte@verio.net">mlagrotte@verio.net</a>)</strong>
            </p>
            <p>
              <a href="http://saasmadeeasy.com" target="_blank"><br>
                <img src="/img/national-partners/saas-made-easy2.jpg" alt="" width="150" ></a><br>
              SAAS MADE EASY is a leader in Microsoft Exchange and Team Foundation Server hosting. We are here to make
              Microsoft Exchange and Team Foundation Server hosting an affordable, reliable and secure option for
              businesses of all sizes.SaaS Made Easy is providing free TFS hosting to all GiveCamp events before your
              event happens, to help trackrequirements, documents and contact information, as well as 2 weeks after the
              event to wrap up the deployment and transfer of code to the charity. To get your accounts set up, please
              reach out to SAAS MADE EASY today!<br>
              <strong>Contact: Paul Hacker (<a href="mailto:phacker@saasmadeeasy.com">phacker@saasmadeeasy.com</a>)</strong>
            </p>
            <p>
              <a href="http://www.appliedi.net/" target="_blank"><br>
                <img title="Applied Innovations" src="/img/national-partners/AI_Logo.jpg" alt="Applied Innovations"
                  width="150" ></a><br>
              A leading Windows web hosting provider since 1999, Applied Innovations is offering FREE hosting for all
              GiveCamp projects. Applied Innovations hosts thousands of mission-critical websites for small to medium
              sized businesses worldwide and offers highly competitive rates for enterprise-level services. As a
              longtime Microsoft Gold Certified Partner, Appliedi.net has earned a reputation for its commitment to
              Total Customer Satisfaction, as well as delivering a cutting-edge Windows hosting experience for a broad
              range of PHP, .Net, eCommerce, CMS applications and more.<br>
              <strong>Contact: Jess Coburn (<a href="mailto:jcoburn@appliedi.net">jcoburn@appliedi.net</a>)</strong>
            </p>
            <p>
              <a href="http://www.infragistics.com" target="_blank"><br>
                <img title="infragistics_LOGO-NOTAG" src="/img/national-partners/Infragistics-logo-horizontal.png" alt=""
                  width="150" ></a><br>
              Infragistics is a global software company whose products and services enable companies to deliver awesome
              user experiences to their stakeholders. With a focus on high performance grids and data visualization,
              our NetAdvantage suite offers developers full-featured UI toolsets that empower them to create their best
              applications on any platform, including HTML5/jQuery and popular mobile platforms. Our diverse offering
              also includes Services, Design tools and Business Productivity solutions such as the SharePlus universal
              mobile SharePoint app.<br>
              <strong>Contact: Jason Beres(<a href="mailto:jasonb@infragistics.com">jasonb@infragistics.com</a>)</strong>
            </p>
            <p>
              <a href="http://www.devexpress.com/" target="_blank"><br>
                <img title="DevExpress-DCD-Blue" src="/img/national-partners/DevExpress-DCD-Blue.png" alt="" width="150"
                  ></a><br>
              DevExpress engineers feature-complete Presentation Components, Reporting Systems, IDE Productivity Tools
              and Business Application Frameworks for Visual Studio. Whether targeting the WinForms, ASP.NET, WPF or
              Silverlight platform, developer licenses for our award-winning product line are donated completely free
              of charge to allow you to create innovative solutions to solve the needs of your chosen charity.<br>
              <strong>Contact: Rachel Hawley (<a href="mailto:rachelh@devexpress.com">rachelh@devexpress.com</a>)</strong>
            </p>
            <p>
              <a href="http://xsqlsoftware.com/" target="_blank"><br>
                <img title="xSQLLogo" src="/img/national-partners/xSQLLogo.jpg" alt="" width="150" ></a><br>
              Rock solid SQL tools for software developers and database administrators. Over 30 thousand users
              worldwide, hundreds of thousands of hours saved. xSQL Software is pleased to offer complimentary licenses
              of their xSQL Object, xSQL Data Compare and Script Executor products to development teams building
              applications at a GiveCamp event.<br>
              <strong>Contact: Naim Sula (<a href="mailto:givecamp@xsqlsoftware.com">givecamp@xsqlsoftware.com</a>)</strong>
            </p>
            <p>
              <a href="http://www.gmcr.com/" target="_blank"><br>
                <img title="GMCR_Corporate_Logo_3_Color" src="/img/national-partners/GMCR_Corporate_Logo_3_Color.jpg"
                  alt="" width="150" ></a><br>
              Green Mountain Coffee Roasters, Inc. (NASDAQ: GMCR) is recognized as a leader in the specialty coffee
              industry for its award-winning coffees, innovative brewing technology and socially responsible business
              practices. As part of our community involvement, we support nonprofit organizations through coffee
              product donations.<br>
              <strong>Contact: Kelsy Raap (<a href="mailto:Kelsy.Raap@gmcr.com">Kelsy.Raap@gmcr.com)</a></strong>
            </p>
            <p>
              <a href="http://www.componentone.com/" target="_blank"><br>
                <img title="componentone_logo_vertical_black" src="/img/national-partners/componentone_logo_vertical_black.png"
                  alt="" width="150" ></a><br>
              ComponentOne is offering its award winning Studio Enterprise control suite that includes 100s of controls
              and spans seven development platforms. This includes Studio for iPhone, a unique set of ASP.NET-based
              controls. With this studio, GiveCamp teams and non-profits can build micro sites or extend their current
              site for the iPhone, Palm Pre and Android devices. This unique mobile<br>
              experience is available exclusively from ComponentOne, a well-respected component vendor in the Microsoft
              Visual Studio space for the past 20+ years. ComponentOne team members may be available upon request to
              work with the teams and lend their experience. To learn more about ComponentOne and its entire product
              line up; including components for ASP.NET, WinForms, WPF, Silverlight, Mobile, and ActiveX, visit <a href="http://www.componentone.com">www.componentone.com</a>.<br>
              <strong>Contact:Eve Turzillo <a href="mailto:evet@componentone.com">evet@componentone.com</a></strong>
            </p>
            <p>
              <a href="http://www.pluralsight-training.net/microsoft/" target="_blank"><br>
                <img title="PSLogoLgColor" src="/img/national-partners/PSLogoLgColor.png" alt="" width="150" ></a><br>
              Pluralsight provides flexible training solutions for Microsoft .NET developers that can fit any schedule
              or budget. The revolutionary <a href="http://www.pluralsight-training.net/microsoft/olt/member.aspx">Pluralsight
                On-Demand!</a> training library provides developers with instant access to a rich collection of online
              training courses delivered by industry authorities. Pluralsight also holds <a href="http://www.pluralsight-training.net/microsoft/vil/default.aspxhttp:/www.pluralsight-training.net/microsoft/vil/default.aspx">virtual
                courses</a> online and <a href="http://www.pluralsight-training.net/microsoft/ilt/courses.aspx">classroom
                training</a>events at different locations around the world, offering you focused and fast-paced
              learning experiences. Pluralsight is offering GiveCamp volunteers and charities free training in
              preparation for the event. Contact Steve Woolley for more information on how to take advantage of this
              great offer!<br>
              <strong>Contact: Steve Woolley <a href="mailto:steve-woolley@pluralsight.com">steve-woolley@pluralsight.com</a></strong>
            </p>
            <p>
              <a href="http://kentico.com" target="_blank"><br>
                <img title="small_Kentico_2D_CMS_width200px" src="/img/national-partners/small_Kentico_2D_CMS_width200px.png"
                  alt="" width="180" height="63" ></a><br>
              Kentico CMS is a versatile, extensible platform that enables you to deliver the latest Web technology to
              customers of all sizes. Content-oriented sites, community sites, online stores and intranetsâKentico
              can do it all. Use Visual Studio and your .NET Framework skills to accelerate the development process.
              Add out-of-the-box modules that will wow your customers with advanced functionality. Customize and
              integrate the site with other systems using fully open APIs. And enjoy a streamlined deployment
              experience that is second-to-none. Kentico is designed to maximize your productivity, so you can work
              smarter not harder. If you are looking for a Web development platform that delivers immediate results
              while supporting long-term business growth, try Kentico CMS!<br>
              <strong>Contact: Eva Blazkova <a href="mailto:evab@kentico.com">evab@kentico.com</a></strong>
            </p>
            <p>
              <a href="http://www.piryx.com/landing/start/" target="_blank"><br>
                <img title="piryxlogo_small" src="/img/national-partners/piryxlogo_small.png" alt="" width="150" ></a><br>
              Piryx is the Online Giving Platform- tying together social advocacy causes with their online social
              networks for giving opportunities. Causes from all over the country- political campaigns, non-profits,
              alumni groups, and schools- employ the Piryx toolset to reach their fundraising goals. It offers turn-key
              solutions that can be as easy as launching a blog or deeply integrated into any product, website, or
              mobile application, turning your entire social graph into a fundraising opportunity. To learn more and
              create your own free account visit Piryx.com.<br>
              <strong>Contact: Jonas Lamis (<a href="mailto:jonas.lamis@piryx.com">jonas.lamis@piryx.com</a>)</strong>
            </p>
            <p>
              <a href="http://plasticscm.com" target="_blank"><br>
                <img title="Plastic" src="/img/national-partners/Plastic.png" alt="" width="150" ></a><br>
              Plastic SCM is designed for software development teams of all sizes (small, large and enterprise). Unlike
              other SCM and DVCS solutions, Plastic offers deep parallel development that implements a long-standing
              best practice known as Task Based Development. Essentially, all tasks are on their own branch. Branches
              are fundamentally different with Plastic too, as there’s built-in inheritance. This means by default it
              will inherit the source tree from its parent as well as any permissions that are in place too. Currently,
              it’s the only solution that supports both DVCS and VCS (centralized development). It also has a fully
              graphical interface and allows you to visualize your entire development practice and structure as well as
              drill down to individual files and explore their history with a 3D browser tree.<br>
              <strong>Contact: James O’Rourke (<a href="mailto:Jorourke@codicesoftware.com">Jorourke@codicesoftware.com</a>)</strong>
            </p>
            <p>
              <a href="http://techsmith.com" target="_blank"><br>
                <img title="TechSmith-Logo-Primary" src="/img/national-partners/TechSmith-Logo-Primary.png" alt=""
                  width="150" ></a><br>
              TechSmith has seven products that do anything from take screen captures, to screen recording and managing
              consumer content. Our renowned product line, including Snagit, Jing, Morae, Screencast.com and the
              Camtasia family of products, helps users communicate clearly and simply. They make it easy to eliminate
              boring bullet points and paragraphs, and replace them with illuminating images and videos. Whether you
              want to enhance PowerPoint slides, create a training video, or record a presentation with the click of a
              button, TechSmith products give you professional looking, easy to share results without any difficulties.<br>
              <strong>Contact: Betsy Weber (<a href="mailto:b.weber@techsmith.com">b.weber@techsmith.com</a>)</strong>
            </p>
            <p>
              <a href="http://wintellect.com" target="_blank"><br>
                <img title="WintellectLogo_web" src="/img/national-partners/WintellectLogo_web1.gif" alt="" width="150"
                  ></a><br>
              Wintellect is a consulting, debugging, and training firm dedicated to helping companies build better
              software, faster through a concentration on .NET and Windows development. Its offerings include full
              lifecycle application development; architecture, analysis and design services; project management;
              emergency debugging and performance tuning; rapid application development and prototyping; database
              design and development; as well as in-depth, multi-day .NET on-site and open enrollment training. For
              more information about Wintellect, visit <a href="http://www.wintellect.com">www.wintellect.com</a>.<br>
              <strong>Contact: Bethany Jones Vananda (<a href="mailto:bvananda@wintellect.com">bvananda@wintellect.com</a>)</strong></p>
            <p>
              <a href="http://ssl.safaribooksonline.com/subscribe?cid=201101-my-givecamp-link" target="_blank"><br>
                <img title="Safari_Logo-web" src="/img/national-partners/Safari_Logo-web.gif" alt="" width="150" ></a><br>
              <a href="https://ssl.safaribooksonline.com/subscribe?cid=201101-my-givecamp-link" target="_blank">Safari
                Books Online</a>is an on-demand digital library with 13,000+ books and video form from the world’s
              leading authors in technology and business. Technology professionals, software developers, Web designers,
              and business and creative professionals use Safari Books Online as their primary resource for research,
              problem solving, learning and certification training. Safari Books Online offers a range of product mixes
              and pricing programs for organizations, government agencies and individuals. Subscribers have access to
              thousands of books, training videos and prepublication manuscripts in one fully searchable database from
              40+ leading publishers, including Cisco Press, Prentice Hall Professional, O’Reilly Media, Addison-Wesley
              Professional, Microsoft Press, Sams, Que, Peachpit Press, John Wiley &amp; Sons, Elsevier, IBM Press,
              Adobe Press, Sun Microsystems Press, FT Press, Wharton School Publishing, Apress, Manning, New Riders,
              Apple Certified, Course Technology, and Splash Media.<br>
              <strong>Contact: Troy Petersen (<a href="mailto:tpetersen@safaribooksonline.com">tpetersen@safaribooksonline.com</a>)</strong>
            </p>
            <p>
              <a href="http://syncfusion.com" target="_blank"><br>
                <img title="syncfusionLogo_slogan_200_65" src="/img/national-partners/syncfusionLogo_slogan_200_65.jpg"
                  alt="" width="150" ></a><br>
              Founded by industry experts in 2001, Syncfusion, Inc. provides the broadest range of enterprise-class
              software components and tools for the Microsoft .NET platform. Working with Syncfusion, developers can
              move beyond simply coding applications to delivering real business innovation â the elegant user
              interfaces, business intelligence dashboards, and sophisticated reporting that todayâs business users
              need, in the formats they demand. Our award-winning .NET components and controls are designed to meet
              your evolving development needs, whether youâre working in Silverlight, ASP.NET MVC, WPF, ASP. NET, or
              Windows Forms. Please visit <a href=" Syncfusion.com" target="_blank">Syncfusion.com</a> to download the
              free 30-day trial and start transforming your applications today!<br>
              <strong>Contact: Amy Campbell, <a href="mailto:amyc@syncfusion.com">amyc@syncfusion.com</a></strong>
            </p>
            <p>
              <a href="/img/national-partners/NsoftwareLogo.png"><br>
                <img title="NsoftwareLogo" src="/img/national-partners/NsoftwareLogo.png" alt="" width="150" ></a>
              <a href="http://nsoftware.com" target="_blank"><br>
              /n software</a>is offering complimentary licenses of their award winning Red Carpet Subscription to
              GiveCamp teams building applications with embedded Internet communications, secure messaging, or
              e-business connectivity. Red Carpet Subscriptions include reusable software components and libraries for
              every major development technology. Our various product suites include components for a wide range of
              Internet technologies from File Transfer capabilities to Internet Email, SSL and SSH security, S/MIME
              encryption, Secure Network Management, Digital Certificates, Credit Card Processing &amp; ACH Payments,
              Compression, Instant Messaging, Shipping and Tracking, and e-business (EDI) transactions.<br>
              <strong>Contact: Eric Madariaga <a href="mailto:ericm@nsoftware.com">ericm@nsoftware.com</a></strong>
            </p>
            <p>
              <a href="/img/national-partners/11/RSSBusLogo.png"><br>
                <img title="RSSBusLogo" src="/img/national-partners/RSSBusLogo.png" alt="" width="150" ></a><br>
              GiveCamp teams can leverage complimentary licenses of the <a href="http://rssbus.com" target="_blank">RSSBus
              Data Providers</a> to easily connect their .NET applications with Amazon Web Services, PayPal, eBay,
              QuickBooks, FedEx, Salesforce.com, MS CRM, Twitter, SharePoint, Azure, and many other applications and
              services. The RSSBus Data Providers enable bidirectional access to data with full CRUD support and can
              easily connect with any system using the familiar ‘Databinding’ idiom, just like you work with any SQL
              database.<br>
              <strong>Contact: Casey Thompson <a href="mailto:info@rssbus.com">info@rssbus.com</a></strong>
            </p>
            <p>
              <a href="http://allaware.com/" target="_blank"><br>
                <img class="alignnone size-medium wp-image-1038" title="allAwareLogo_web_email" src="/img/national-partners/allAwareLogo_web_email1-300x69.png"
                  alt="" width="150" sizes="(max-width: 300px) 100vw, 300px"></a>
            </p>
            <p>
              <a href="http://allaware.com/" target="_blank">allAware</a> is the free, instant social network app for
              nonprofits, improving communication, member engagement, and providing support for mobile and web
              payments. Organizations can enable one-time and recurring donations to their members, as well as offer
              mobile and web fundraisers, such as the purchase of books, t-shirts, event tickets, or whatever the
              organization chooses to make available. Additionally, members can also pay bills through the app, such as
              membership fees and dues, school or camp fees… whatever the organization chooses to make available. In
              support of GiveCamp, allAware would like to provide each GiveCamp with a cash contribution to go towards
              meals and snacks.<br>
              <strong>Contact: Jason Milgram (<a href="mailto:jmilgram@linxter.com">jmilgram@linxter.com</a>)</strong>
            </p>
            <p>
              <a href="http://github.com/" target="_blank"><br>
                <img class="alignnone size-medium wp-image-1038" title="github" src="/img/national-partners/GitHub_Logo_SmartObject.jpg"
                  alt="" width="150"></a>
            </p>
            <p>
              <a href="http://github.com/" target="_blank">GitHub</a> is the best place to share code with friends,
              co-workers, classmates, and complete strangers. Over two million people use GitHub to build amazing
              things together. With the collaborative features of <a href="https://github.com/">GitHub.com</a>, our
              desktop and mobile apps, and <a href="https://enterprise.github.com/">GitHub:Enterprise</a>, it has never
              been easier for individuals and teams to write better code, faster. <a href="https://github.com/nonprofit">GitHub
              loves helping non-profits</a>! We will provide a lifetime Bronze organization plan, free of charge, to
              any non-profit organization involved in GiveCamps.<br>
              <strong>Contact: Jared Koumentis (<a href="mailto:jared@github.com">jared@github.com</a>)</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>