<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    As a GiveCamp partner, your support helps bring together all of the volunteers and developers that are working 
                    towards creating web applications for the selected non-profit organizations.
                </p>
                <p>
                    Many of the projects created at GiveCamp would typically cost each non-profit between $5,000 and $10,000. 
                    And the efficiencies the solutions create – often reducing the paperwork and staff time needed to complete 
                    work – means GiveCamp creates value beyond the cost of the projects themselves. Partners are an important part 
                    of ensuring that non-profits continue to benefit from this valuable work, with no cost to participate.
                </p>
                <p>
                    It will take more than the passion and expertise of our volunteers to make this happen. We need your support to 
                    help provide a fun and rewarding environment for our volunteers and developers.  Your partnership help in areas 
                    such as :
                </p>
                <ul>
                    <li>Meals and snacks for the volunteers and developers throughout the event weekend</li>
                    <li>Software to be used in web site development of the actual web sites</li>
                    <li>Prizes for Giveaways at the end of the event</li>
                    <li>Goodie-bag items for each of the developers and volunteers</li>
                    <li>T-Shirts & Name tags</li>
                    <li>Professional Services</li>
                </ul>
                <p>
                    Partners will receive recognition throughout the GiveCamp weekend, including the opportunity to have their 
                    logo printed on materials and featured on the GiveCamp website.
                </p>
                <p>
                    Ready to support the technology needs of our non-profit community? Check out the list of 
                    <%= link_to 'upcoming GiveCamp events', '/events.html' %> or just drop us a line at 
                    <%= mail_to 'givecamp@live.com', 'givecamp@live.com' %> and we’ll hook you up!
                </p>
            </div>
        </div>
    </div>
</section>