<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Volunteers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>What are you waiting for? <br>SIGN UP NOW!</h4>
            </div>
        </div>
    </div>
</section>